<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satudata.home">

    <application>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAC-qjgAjCk7tYFzoT3OyCHHCXwAbyshA" />
    </application>

</manifest>